.feature {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}

.feature__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .feature__text {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}

.feature__item {
  width: 100%;
  min-height: 101px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.feature__icon--antenna {
  &:before {
    display: block;
    content: "";
    height: 120px;
    background-image: url("../images/icons/antenna.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}

.feature__icon--clock {
  &:before {
    display: block;
    content: "";
    height: 120px;
    background-image: url("../images/icons/clock.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}

.feature__icon--diagram {
  &:before {
    display: block;
    content: "";
    height: 120px;
    background-image: url("../images/icons/diagram.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}

.feature__icon--astronaut {
  &:before {
    display: block;
    content: "";
    height: 120px;
    background-image: url(../images/icons/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
  }
}

.feature__item {
  &:before {
    background-color: $button-color;
  }
}
