.logo {
  color: $logo-color;
  font-family: $accent-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header {
  .logo {
    color: $logo-color;
    font-family: $accent-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 16px 0;
  }
}

.logo__studio_accent_color {
  color: $accent-color;
}

.logo__studio_dark_color {
  font-family: $accent-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.footer__logo--end {
  margin-bottom: 20px;
}
