.logo {
  color: $logo-color;
  @extend %logo;
}

.header {
  .logo {
    color: $logo-color;
    @extend %logo;
    padding: 16px 0;
  }
}

.logo__studio_accent_color {
  color: $accent-color;
}

.logo__studio_dark_color {
  @extend %logo;
  color: $accent-color;
}

.footer__logo--end {
  margin-bottom: 20px;
}
