.site-nav__list {
  margin-left: 93px;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-nav__list {
  .site-nav__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.site-nav__link {
  @extend %padding-nav;
  color: $title-color;
  cursor: pointer;
  @extend %nav-text;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
}

.site-nav__open {
  background-color: $white-color;
  border: none;
  &:hover {
    fill: $accent-color;
  }
  &:focus {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.site-nav__close {
  background-color: $white-color;
  border: none;

  &:hover {
    fill: $accent-color;
  }
  &:focus {
    fill: $accent-color;
  }
}

.mobile-nav {
  position: absolute;
  background-color: $white-color;
  top: 0;
  width: 100vw;
  height: 100vh;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visability 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.site-nav__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.mobile-menu__item {
  margin-bottom: 36px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: $title-color;
  &:hover {
    color: $accent-color;
  }
  &:focus {
    color: $accent-color;
  }
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: $accent-color;
  margin-bottom: 32px;
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $content-color;
  margin-bottom: 64px;
}

.mobile-media__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mobile-media__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-media {
  display: flex;
}

.mobile-nav .is-hidden {
  opacity: 0;
  pointer-events: none;
}
